{% include 'helper/header.html' %}
{% include 'helper/cssfile.html' %}

<title>{{ category.name }} Products</title>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        margin: 20PX;
        background-color: black;
        color: white;
    }

    .button {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: tan;
        border: 2px solid black;
        margin: auto;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
    }

    .button:hover {
        background-color: rgb(219, 218, 218);
        color: black;
    }

    .button:active {
        background-color: #cfcfcf;
        color: black;
    }

    .btns button {
        outline: none;
        border: none;
        background-color: var(--Lightgrayish);
        color: var(--Orange);
        padding: 0.7rem 1.2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .qty-numbers {
        color: var(--Darkgrayish);
        font-weight: 600;
        width: 4rem;
        text-align: center;
        margin: 0 0.5rem;
    }

    .add-cart {
        outline: none;
        border: none;
        background-color: var(--Orange);
        font-family: inherit;
        color: var(--White);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-top: 2rem;
        cursor: pointer;
    }

    .add-cart svg {
        margin-right: 1rem;
    }

    .box {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: hsl(0, 0%, 0%);
        color: tan;
        font-size: 16px;
        line-height: 1.6;
    }

    .box img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }

    .button-container form {
        display: inline-block;
        margin-right: 10px;
    }
</style>
<h1>{{ category.name }} Products</h1>
<div class="container my-5">
    <h2 class="text-center mb-4"></h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}

        <div class="col text-center">
            <div class="card h-90">
                <img src="../../{{ product.image }}" class="card-img-top" alt="Product">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                    <a href="{% url 'view_product' product.id %}" class="button">View Details</a>

                    {% if user.is_authenticated %}
                    <form action="{% url 'add_to_cart' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="button">Add to Cart</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="button">Browse Products</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
</body>

</html>
{% include 'helper/footer.html' %}